/*
* @Author: DELL
* @Date:   2017-04-08 14:17:23
* @Last Modified by:   DELL
* @Last Modified time: 2017-04-10 13:47:01
*/
*{
	font-size: 0.3rem;
	padding: 0;
	margin: 0;
	list-style: none;
	color: #999;
}
a{
	text-decoration: none;
}
html,body{
	width: 100%;
	height: 100%;
	color: #6C6C6C;
	background: #F5F6FA;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* 头部开始 */
.header {
	width:10.80rem;
	height: 1.3rem;
	background: rgb(0, 123, 227);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
	overflow: hidden;
}
.header ul{
	width: 100%;
	height: 100%;
	display: flex;
}
.header ul li{
	width: 20%;
	height: 100%;
	text-align: center;
}
.header ul li a{
	line-height: 1.3rem;
	color: #fff;
	font-size: 0.46rem;
}
/* .header .logo{
	display: block;
	background-image: url('../img/logo.png');
    float: left;
}
.header h3{
	display: block;
	float: left;
	font-size: 16px;
	color: white;
	margin-left: 0.16rem;
} */
/* 头部结束 */


/* banner开始 */
.banner{
	width: 100%;
	height: 6rem;
	background: url('../img/bg5.jpg') no-repeat center center;
	background-size: cover;
	/* padding-top: 1.3rem; */
	overflow: hidden;
	position: relative;
}
/* banner结束 */


/* 内容开始 */
.content{
	width: 100%;
	height: auto;
}
.top{
	width: 100%;
	height: 1.3rem;
	padding-left: 0.35rem;
	line-height: 1.3rem;
}
.top a{
	width: 0.8rem;
	height: 100%;
	color: #494747;
	float: left;
}
.top span{
	width: auto;
	height: auto;
	float: left;
}
.top .a1{
	width: auto;
}
.nei{
	width: 10.1rem;
	height: 23.4rem;
	background: #fff;
	margin: 0 auto;
	padding-top: 0.16rem;
}
.nei .t{
	width: 9.4rem;
	height: 1.14rem;
	border: 0.03rem solid #01b5ff;
	margin: 0 auto 0.14rem;
	border-radius: 0.15rem;
	display: flex;
}
.nei .t>div{
	width: 33.33%;
	height: 100%;
	text-align: center;
	line-height: 1.14rem;
	font-size: 0.44rem;
}
.nei .t>div:first-child{
	border-radius: 0.15rem;
	background: #01b5ff;
	color: #fff;
	position: relative;
	top: 0;
	left: 0;
}
.nei .t>div div{
	width: 0;
	height: 0;
	border-top: 0.24rem solid #01b5ff;
	border-left: 0.24rem solid rgba(0, 0, 0, 0);
	border-right: 0.24rem solid rgba(0, 0, 0, 0);
	position: absolute;
	top: 1.14rem;
	left: 1.47rem;
}
.nei ul{
	width: 9.4rem;
	height: auto; 
	margin: 0 auto;
}
.nei ul li{
	width: 100%;
	height: 4.1rem;
	border-bottom:0.03rem solid #b8b8b8;
	padding: 0.5rem 0.3rem 0.3rem;
	box-sizing: border-box;
}
.nei ul li a{
	width: 100%;
	height: 100%;
}
.nei ul li a .i{
	width: 3.3rem;
	height: 3.3rem;
	float: left;
}
.nei ul li a .i img{
	width: 100%;
	height: 100%;
	border-radius: 0.1rem;
	display: block;
}
.nei ul li a .p{
	float: left;
	width: 5.1rem;
	height: 3.3rem;
	margin-left: 0.35rem;
} 
.nei ul li a .p p:nth-child(1){
	font-size: 0.38rem;
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	border-bottom: 0.03rem dashed #BEBEBE;
}
.nei ul li a .p p:nth-child(2){
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
	color: #01b5ff;
}
.nei ul li a .p p:nth-child(3){
	width: 80%;
	height: 1rem;
	line-height: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.nei ul li a .p p:nth-child(4){
	width: 100%;
	height: 0.7rem;
	line-height: 0.7rem;
	color: #ff9300;
}
.nei .jian{
	width: 10.1rem;
	height: 1.2rem;
	padding: 0.5rem 0.7rem;
	box-sizing: border-box;
}
.jian a:nth-child(1){
	display: block;
	width: 0.7rem;
	height: 0.7rem;
	background: url('../img/last.png') center center no-repeat;
	background-size: 100%;
	float: left;
}
.jian a:nth-child(2){
	display: block;
	width: 2.1rem;
	height: 0.7rem;
	background: url('../img/s.png') center center no-repeat;
	background-size: 100%;
	float: left;
	margin-left: 0.24rem;
}
.jian a:nth-child(3){
	display: block;
	width: 0.7rem;
	height: 0.7rem;
	background: url('../img/next.png') center center no-repeat;
	background-size: 100%;
	float: right;
}
.jian a:nth-child(4){
	display: block;
	width: 2.1rem;
	height: 0.7rem;
	background: url('../img/xia.png') center center no-repeat;
	background-size: 100%;
	float: right;
	margin-right: 0.24rem;
}
.jian a:nth-child(5){
	display: block;
	width: 2rem;
	height: 0.65rem;
	line-height: 0.65rem;
	text-align: center;
	border: 0.03rem solid #666;
	border-radius: 0.5rem;
	color: #666;
	float: left;
	margin-left: 0.24rem;
}
/* 内容结束 */


/* 版权开始 */
.ban{
	width: 100%;
	height: 1.24rem;
	text-align: center;
	line-height: 0.64rem;
	padding: 0.1rem 0;
	margin-top: 0.6rem;
}
/* 版权结束 */


/* xu */
.xu{
	width: 100%;
	height: 1.35rem;
}


/* 咨询开始 */
.q{
	width: 100%;
	height: 1.32rem;
	background: #E7E7E7;
	position: fixed;
	bottom: 0;
	display: flex;
}
.q a:nth-child(1){
	width: 30%;
	height: 1.32rem;
}
.q a:nth-child(1) span{
	font-size: 0.38rem;
	width: 1.5rem;
	height: 1.32rem;
	margin-left: 0.15rem;
	line-height: 1.32rem;
}
.q a:nth-child(1) div{
	width: 0.52rem;
	height: 0.52rem;
	margin-top: 0.41rem;
	margin-left: 0.396rem;
	background: url('../img/qq.png') center center no-repeat;
	background-size: cover;
	float: left;
}
.q a:nth-child(2){
	display: block;
	width: 40%;
	height: 1.32rem;
	background: #FF8D12;
	position: relative;
	left: 0;
	bottom: 0.16rem;
	border-radius: 0.12rem;
	line-height: 1.32rem;
	box-shadow: 0 0 0.15rem #ff8d12;
}
.q a:nth-child(2) span{
	margin-left: 0.3rem;
	font-size: 0.42rem;
	color: #fff;
}
.q a:nth-child(2) div{
	width: 0.6rem;
	height: 0.6rem;
	margin-top: 0.4rem;
	margin-left: 0.8rem;
	background: url('../img/p.png') -2.5rem -7.66rem no-repeat;
	background-size: 3.2rem;
	float: left;
}
.q a:nth-child(3){
	width: 30%;
	height: 1.32rem;
}
.q a:nth-child(3) span{
	font-size: 0.38rem;
	width: 0.52rem;
	height:1.32rem;
	margin-left: 0.15rem;
	line-height: 1.32rem;
}
.q a:nth-child(3) div{
	width: 0.52rem;
	height: 0.52rem;
	margin-top: 0.41rem;
	margin-left: 0.396rem;
	background: url('../img/p.png') -2.4rem -7.98rem no-repeat;
	background-size: 3rem;
	float: left;
}
/* 咨询结束 */


